/*  \/\/\/\/\/\/\/\/\/\/\/\/\/\Regole generali/\/\/\/\/\/\/\/\/\/\/\/\/\/  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    background-color: #0061FF;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: none;
}

button:hover{
    color: grey;
}

body{
    min-width: 700px;
}

ul{
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.text-center{
    text-align: center;
}

a{
    text-decoration: none;
    color: #295BAF;
}

img{
    width: 100%;
}

.grey{
    color: grey;
}

.right{
    float: right;
}

.left{
    float: left;
}
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\Regole generali/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */

/* Inizio sezione navigazione */

header{
    display: block;
    width: 100%;
}
nav {
    display: block; 
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 80px;
}

nav>ul>a>img {
    vertical-align: middle;
}

nav>ul>li {
    display: inline-block;
    padding: 0 20px;
    line-height: 80px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #222222;
    font-size: 1.1em;
}

nav ul li a:hover {
    background-color: #aaa;
}

nav>ul>li:hover {
    border-bottom: solid 2px green;
}

.menu-right{
    float: right; 
    height: 100%;
    display: inline-block;
}

.menu-left{
    height: 100%;
    display: inline-block;
}

nav ul a {
    display: inline-block;
}

/* Inizio bonus */
.menu>li {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 2px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content>li{
    line-height: 40px;
}

.dropdown-content>li>a{
    padding-right: 15px;
    padding-left: 5px;
}

.menu>li:hover .dropdown-content {
    display: block;
}
/* Fine bonus */

/* Fine sezione navigazione */

/* Inizio prima sezione */

.jumbo {
    display: inline;
    width: 70%;
    float: right;
    
}

.jumbo>img{
    width: 90%;
}

.container{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    height: 700px;
    background-color: #B4D0E7;
}

.container>div{
    display: inline-block;
}

.container-left{
    max-height: 50vh;
    width: 30%;
    display: inline-block;

}

.container h1, button, p{
    margin-bottom: 15px;
    display: block;
}

.container h1{
    margin-bottom: 30px;
    font-size: 400%;
}

.arrow{
    font-size: 40px;
}

/* Fine prima sezione */


/* Inizio sezione piani */

.done::before{
    content: "\2713";
    display: inline-block;
    color: #5C9AFF;
    font-size: 15px;
    text-align: center;
}

.margin-button-60{
    margin-bottom: 60px;
}

.containerz{
    padding-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom: 2%;
}

.containerz .grey{
    margin-bottom: 20%;
}

.containerz button{
    margin-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
}

.container-header{
    margin-bottom: 2%;
    display: block;
}

.container-header p{
    margin-top: 5px;;
}

.container-header h1{
    margin-bottom: 5px;;
}

.container-main-left{
    width: 33%;
    float: left;
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
}

.container-main-center{
    margin-left: 0.3%;
    margin-right: 0.3%;
    width: 33%;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
}

.container-main-right{
    width: 33%;
    float: right;
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
}

/* Fine sezione piani */

/* Inizio sezione enterprise */
.container-enterprise{
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
}

.button-float{
    position: absolute;
    top: 40%;
    right: 0;
}
/* Fine sezione enterprise */

/* Inizio sezione partner */
.container-partner{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.img-partner{
    width: 50%;
    display: inline-block;
}

.img-partner>img{
    width: 100%;
}

.box-partner{
    width: 50%;
    float: right;
    display: inline;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.button-partner{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.button-partner:hover{
    background-color: black;
    color: white;
}
/* Fine sezione partner */

/* Inizio sezione operazioni */
.container-Dropbox-Business{
    margin-left: 20%;
    margin-right: 20%;
}

.box-DB{
    width: 33%;
    padding: 2%;
    display: inline-block;
}
/* Fine sezione operazioni */

/* Inizio sezione team */
.container-title{
    margin-left: 20%;
    margin-right: 20%;
}

.container-boxes{
    margin-top: 50px;
}

.dimension-box{
    width: 30%;
    display: inline-block;
}

.center-box{
    width: 39%;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 4%;
    margin: auto;
    height: 560px;
}

.center-box>p{
    margin-top: 5%;
    margin-bottom: 5%;
}
.center-img{
    width: 20%;
    margin-bottom: 10%;
}

.dim-box{
    width: 50%;
    display: inline-block;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20%;
    padding-bottom: auto;
    height: 280px;
}

.dim-box img{
    vertical-align: bottom;
    filter: invert();
}
.left-img-1{
    background-color: #A2D39B;
}

.left-img-2{
    background-color: #61082B;
    padding-top: 15%;
}

.left-img-3{
    background-color: #0093CE;
}

.left-img-4{
    background-color: #FF1C1C;
}

#left-img-1-p{
    width: 100%;
    background-color: #A2D39B;
}

.right-img-1{
    background-color: #D5001F;
}

.right-img-2{
    background-color: #B4D0E7;
}

.right-img-3{
    background-color: #0D2481;
}

.right-img-4{
    background-color: #FFD830;
}
/* Fine sezione team */

/* Inizio sezione prova gratuita */
.container-prova-gratuita{
    background-color: #B4D0E7;
    padding-top: 3%;
    padding-bottom: 3%;
}

.box-prova-gratuita{
    margin-right: 20%;
    margin-left: 20%;
}

#button-prova-gratuita{
    background-color: white;
    color: black;
    float: right;
}

#button-prova-gratuita:hover{
    background-color: #B4D0E7;
    color: white;
    display: inline-block;
}

.box-prova-gratuita h1{
    color: #61082B;
    width: 40%;
    display: inline-block;
}
/* Fine sezione prova gratuita */

/* Inizio sezione FAQ */
.container-domande{
    padding-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

.container-domande li{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
}

.container-domande p{
    float: right;
}

/* Fine sezione FAQ */

/* Inizio sezione footer */
footer{
    background-color: black;
    color: white;
}

footer a{
    color: white;
}

.container-footer{
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 3%;
}

.box-footer{
    display: inline-block;
    width: 19.5%;
}

.box-footer h3{
    margin-bottom: 2%;
}

.box-footer-language{
    padding-top: 2%;
    padding-bottom: 3%;
    border-top: 2px white;
}

#language{
    border: none;
    background-color: black;
    color: white;
    font-size: 0.8em;
}

hr{
    margin-left: 10px;
    margin-top: 5%;
    width: 7%;
}

.container-footer li>a:hover{
    text-decoration: underline;
}
/* Fine sezione footer */